body {
    background: rgb(43, 42, 42);
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

h1{

    color: #e3e6e9;
    font-family: 'Poppins', sans-serif ;
    font-size: 50px;
    font-weight: 500;
}

h3{
    color: rgb(240, 182, 73);
    font-family: 'Poppins', sans-serif ;
}

.button1{
    background-color: #707274;
    border-color: #95b5fcd5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
    font-size: 15px; 
}

.button1:hover{
    background-color: transparent;
    border-color: transparent;
}

.button2{
    background-color: #707274;
    border-color: #95b5fcd5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
    font-size: 15px; 
}

.button2:hover{
    background-color: transparent;
    border-color: transparent;
} 

.button3{
    background-color: #707274;
    border-color: #95b5fcd5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button3:hover{
    background-color: transparent;
    border-color: transparent;
} 

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 0px;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-content: center;
    --borderWidth: 3px;
    background: #5a5c5e;
    position: relative;
    border-radius: var(--borderWidth);
  }

  .container:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }


  #text {
    position: static;
    top: 80px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    overflow-y: hidden;
    box-sizing: border-box;
  }

  #text2 {
    position: static;
    top: 80px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    overflow-y: hidden;
    box-sizing: border-box;
  }

  #text3 {
    position: static;
    top: 80px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    overflow-y: hidden;
    box-sizing: border-box;
  }
